// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

body, html {
    height: 100%;
}

.bg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-ghost {
    color: #F2FDFF;
    border: 1px solid #EE8DC3;
    padding: 8px 30px 8px 30px;
    border-radius: 50px;
    font-weight: lighter;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.active, .btn-ghost:hover {
    background-color: #6E80EE;
}


.btn {
    position: relative;
    left: 1300px;
    top: 750px;
}