// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

body, html {
    height: auto;
}

.image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('background2.jpg');
    background-size: cover;
    position: absolute;
}

#home {
    font-family: 'Dancing Script', cursive;
    position: relative;
    top: 100px;
}

#home > a {
    text-decoration: none;
    color: white;
}

#home > a:hover {
    color: #6E80EE;
}