// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

.btn-ghost {
        color: #F2FDFF;
        border: 1px solid #EE8DC3;
        padding: 8px 30px 8px 30px;
        border-radius: 50px;
        font-weight: lighter;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    
    .active, .btn-ghost:hover {
        background-color: #6E80EE;
    }
    
    
    .btn {
        position: relative;
        left: 400px;
        top: 170px;
    }

    .btn2 {
        padding-bottom: 10px;
        position: relative;
        bottom: 14px;
    }

    .add_cocktail > a {
        text-decoration: none;
    }
