@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 10px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

#card-list {
  margin-top: 80px;
}

.banner-content > h1 {
  font-family: 'Dancing Script', cursive;
  color: white;
  padding-top: 40px;
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-infos {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #999FFD;
  width: 100%;
}


img.picture {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-image {
  height: auto;
  object-fit: cover;
}

#show-card {
  margin-top: 200px;
}

#cocktail-name {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
